<div class="container" [ngStyle]="{'background': getMode()}">
  
  <div class="mode">
    <p [ngClass]="{'activated':!checked, 'dark':checked}">Light</p>
    <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    <p [ngClass]="{'activated':checked, 'dark':checked}">Dark</p>
  </div>
  <h1>Stock Market API</h1>

  <div class="search">
    <search (tickerName)="chart.tickerName = $event" (updateChart)="chart.setChartData($event)" [checked]="checked"></search>
  </div>

  <div class="chart">
    <chart #chart></chart>
  </div>

</div>